* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(135deg, #ffffff 0%, #989898 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  gap: 20px;
}

.container h1 {
  font-size: 42px;
  font-weight: bold;
}

.container h1 span {
  color: rgb(161, 159, 159);
}

p {
  color: rgb(70, 69, 69);
}

#entrada-de-conteudo {
  display: flex;
  width: 80%;
  gap: 20px;
  align-items: center;
}

#entrada-de-conteudo textarea {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 15px;
}

input[type="file"] {
  display: none;
}

select,
button,
label {
  text-align: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
 
}
 select {
  width: 100%;
  max-width: 550px;
  color: rgb(70, 69, 69);
  padding: 11px;
}

#ouvir-btn, #baixar-texto-btn {
  padding: 35px;
}


label {
  padding: 35px;
}

#selecao-voz {
  width: 100%;
}

button , #arquivo-label  {
  background-color: rgb(161, 159, 159);
  color: #fff;
  transition: 0.3s;
}

button:hover,
#arquivo-label:hover {
  background-color: #ffffff;
  background-image: linear-gradient(135deg, #ffffff 0%, #989898 100%);
  color: rgb(70, 69, 69);
}